.un-typed{
    color: gray !important; 
}

ide {
    display: block;
    white-space: pre; /* This preserves spaces and newlines exactly */
    font-family: 'JetBrains Mono', 'Courier New', monospace; /* Use monospaced fonts */
    tab-size: 4; /* Tells the browser how wide a '\t' character should be */
}